# Autodetect text files
* text=auto

# These files are binary and should be left untouched
# (binary is a macro for -text -diff)
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary

# Force the following filetypes to have unix eols, so Windows does not break them
*.* text eol=lf
