body
{
  margin: 0;
  padding: 0;
  font-family: 'Proxima Nova';
  color: #404040;
  -webkit-font-smoothing: antialiased;
}


.container
{
  margin: 0 auto;
  max-width: 1440px;
  padding: 3% 10% 10% 10%;
}

.width
{
  width: 100%;
}
.description
{
  margin-top: 70px;
}

.container-example
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 100%;
}

/*фон темный*/
.container-example-dark
{
  background-color: #404040;
  position: relative;
}

.container-example-colored
{
  background-color: #8E3B4C;
  position: relative;
}

.container-header p
{
  margin-bottom: -25px;
  font-size: 16px;
  color: #b7b7b7;
  text-transform: uppercase;
  letter-spacing: 0.8px;

}

.hover-text
{
  display: none;
  color: #404040;
  font-size: 24px;
  font-weight: normal;
  text-decoration: none;
}

.hover-text-light
{
  display: none;
  color: #fff;
  font-size: 24px;
  font-weight: normal;
  text-decoration: none;
}

.hover
{
  width: 100%;
  height: 0px;
  padding-top: 0px;
  position: absolute;
  text-align: center;
  vertical-align: baseline;
  border-bottom: 1px solid #b7b7b7;
  top: 0;
  left: 0;
  transition: all 0.3s ease 0s;
}

.container-example-dark:hover .hover
{
  height: 82px;
  padding-top: 58px;
  background-color: rgba(255, 255, 255, 0.9);
}


.container-example-colored:hover .hover
{
  height: 82px;
  padding-top: 58px;
  background-color: rgba(255, 255, 255, 0.8);
}

.container-example-light:hover .hover
{
  display: inline-block;
  height: 82px;
  padding-top: 58px;
  background-color: rgba(64, 64, 64, 0.7);
}
.container-example-dark:hover .hover-text
{
  display: inline;
}

.container-example-colored:hover .hover-text
{
  display: inline;
}

.container-example-light:hover .hover-text-light
{
  display: inline;
}

.hover-bottom
{
  width: 100%;
  height: 0px;
  padding-top: 0px;
  position: absolute;
  text-align: center;
  vertical-align: baseline;
  bottom: 0;
  left: 0;
  transition: all 0.3s ease 0s;
}

.container-example-dark:hover .hover-bottom
{
  height: 82px;
  padding-top: 58px;
  background-color: rgba(255, 255, 255, 0.9);
}

.container-example-colored:hover .hover-bottom
{
  height: 82px;
  padding-top: 58px;
  background-color: rgba(255, 255, 255, 0.8);
}

.container-example-light:hover .hover-bottom
{
  height: 82px;
  padding-top: 58px;
  background-color: rgba(64, 64, 64, 0.7);
}



/*фон светлый*/
.container-example-light
{
  background-color: #eae5df;
  position: relative;
}

/* фон картинкой */

.container-image
{
  background: url(https://images.unsplash.com/45/ZLSw0SXxThSrkXRIiCdT_DSC_0345.jpg?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=8aae827318dc14d0b863be5e94a0fb41) 50% 50%;
}


/* Типографика и тексты */
header
{
  margin-top: 60px;
}

h1
{
	font-weight: normal;
  font-size: 38px;
  color: #8E3B4C;
  margin-bottom: -30px;
}

h2
{
  font-weight: lighter;
  font-size: 26px;
  margin-bottom: 8px;
}


p
{
  font-size: 18px;
  width: 60%;
  margin-top: 0px;
  min-width: 400px;
}

img
{
  margin-top: 10px;
  margin-right: 10px;
}

/* стили логотипов */
.logo-image
{
  height: 27px;
  margin-top: 60px;
}
.logo-vert-image
{
  height: 64px;
}

img.logo-vert-padding
{
  padding-right: 37px;
}

.logo
{
  height: 27px;
  margin: 75px auto 0;
}

.logo-vert
{
  height: 64px;
  margin: 50px auto 0;
}

/*прозрачная подложка под логотипом*/
.container-example-image-logo
{
  background-color: rgba(255, 255, 255, 0.7);
  padding: 20px;
}

/*упорядочивает логотипы внутри контейнера*/
.vertical
{
  width: 33.33%;
  min-width: 300px;
  height: 280px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
}


.vertical-image
{
  width: 100%;
  min-width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.logo-margin
{
  margin-bottom: 40px;
}
